@{
    ViewData["Title"] = "Multiplicação";
}

<h1 class="display-4">Operação Matemática Multiplicação</h1>
<p>Utilize o formulário abaixo para multiplicar dois números</p>

<form action="ResultadoMultiplicacao" method="post">
    <p>
        <label for="numero1">Número 1</label>
        <input type="text" name="numero1" id="numero1" >
    </p>
    <p>
        <label for="numero2">Número 2</label>
        <input type="text" name="numero2" id="numero2" >
    </p>
    <p>
        <input type="submit" value="Multiplicar">
    </p>
</form>