@{
    ViewData["Title"] = "Subtrair";
}

<h1 class="display-4">Operação Matemática Subtrair</h1>
<p>Utilize o formulário abaixo para subtrair dois números</p>

<form action="ResultadoSubtrair" method="post">
    <p>
        <label for="numero1">Número 1</label>
        <input type="text" name="numero1" id="numero1" >
    </p>
    <p>
        <label for="numero2">Número 2</label>
        <input type="text" name="numero2" id="numero2" >
    </p>
    <p>
        <input type="submit" value="Subtrair">
    </p>
</form>