@model Calculadora.Models.UserModel

@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center">
    <p>Nome: @Model.Nome</p>
    <p>Email: @Model.Email</p>
    <p>Senha: @Model.Senha.</p>
</div>