
@{
    ViewData["Title"] = "Calculadora";
}

<h1 class="display-4">Calculadora</h1>
<p>Utilize o formulário para realizar uma operação matemática</p>

<form action="ResultadoCalculadora" method="post">
    <p>
        <label for="numero1">Número 1</label>
        <input type="text" name="numero1" id="numero1" >
    </p>
    <p>
        <label for="numero2">Número 2</label>
        <input type="text" name="numero2" id="numero2" >
    </p>
    <p>
        <select name="selectAction" id="selectAction">
            <option value=1>Somar</option>
            <option value=2>Subtrair</option>
            <option value=3>Dividir</option>
            <option value=4>Multiplicar</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Calcular">
    </p>
</form>